.d-flex.align-items-center.my-4
  %h2.mr-auto.display-5= t('comments')
  %ul.nav
    %li.nav-item
      = link_to t('new_comment'), new_post_comment_path(@post)
- if @post.comments.count > 0
  %ul.list-group
  - @post.comments.order_by(created_at: 'desc').each do |comment|
    %li.list-group-item.flex-column.align-items-start
      .d-flex.w-100.justify-content-end
        .mr-auto= comment.body
        - if current_user
          - if comment.user_id === current_user.id
            = link_to t('nav.edit'), edit_post_comment_path(@post, comment), class: "text-info mr-2"
            = link_to t('nav.delete'), post_comment_path(@post, comment), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "text-danger"
      %small=comment.user.email
- else
  .alert.alert-info= t('no_comments')
